<div ng-controller="workSummaryController as vm" style="width:100%;overflow: hidden;" layout="column" flex="" layout-fill="" ng-cloak="">
    <md-toolbar md-scroll-shrink="">
        <div class="md-toolbar-tools">Work Summary</div>
    </md-toolbar>

    <md-content>
        <section layout="row" layout-align="center center" layout-wrap>
            <md-datepicker ng-model="vm.startDate" md-placeholder="Enter date"></md-datepicker>
            <md-datepicker ng-model="vm.endDate" md-placeholder="Enter date"></md-datepicker>
            <md-button class="md-raised md-info" ng-click="vm.getWorkSummary()">Update</md-button>
        </section> 
        <section layout="row" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-info" ng-click="count = count + 1; $log.info('Testing123')" ng-init="count=0">{{count}}</md-button>
                    <button type="button"
onclick="document.getElementById('demo').innerHTML = Date(); console.log(Date())">
Click me to display Date and Time.</button><p id="demo"></p>
        </section> 
        <section>
            <md-list layout-padding="">
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        <h3>Total Effort: {{vm.totalEffort}}</h3>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line" ng-repeat="backlog in vm.backlogs">
                    <div class="md-list-item-text">
                        <h4>{{backlog.name}}</h4>
                        <p>
                            Effort: {{backlog.effort}}
                        </p>
                    </div>
                </md-list-item>

            </md-list>
        </section>
    </md-content>
</div>